<!DOCTYPE html>
<html>
<head>
  <title>Forest</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="plugins entry_page">
  <header id="header" role="banner">
    <a id="logo" title="jQuery Style"></a>
    <nav role="navigation">
      <ul id="nav" class="navi centred">
        <li><a href="#" class="filter active" data-filter="*.whisper">Whisper</a></li>
        <li><a href="#" class="filter" data-filter=".news">News</a></li>
        <li><a href="#" class="filter" data-filter=".qanda">Q&A</a></li>
        <li><a href="#" class="filter" data-filter=".wiki">Wiki</a></li>
        <li><a href="#" class="filter" data-filter=".history">History</a></li>
      </ul>
    </nav>
  </header>
  <div id="container">
    <section id="main">
      <div id="level_1">
        <article id="article" class="group">
          <%= yield %>
          <a class="cat_link" href="http://luexiao.com">luexiao</a>
        </article>
      </div>
    </section>
  </div> 
</body>
</html>
